@import "resume.scss";

body {
  font-size: 0.915em;
  margin-left: 0;
  margin-right: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

#header_container .name .family {
  background-color: $white;
}

#header_container > .name {
  margin-bottom: 5px;
  margin-top: 1px;
  font-size: 2em;
}

#header_container > .name .given {
  border-right: none;
}

.body-column {
  margin-left: 0.15in;
  margin-right: 0.15in;
}

#body_container {
  display: flex;
}

$tl-width:  90px;

.topLanguage {
  background-color: $white;
  padding: 4px;
  border-radius: 0;
  width: $tl-width;
  img {
    max-width: $tl-width;
    max-height: $tl-width;
  }
}

.hideOnPrint {
  display: none;
}

@page {
  margin: 0.2in;
  margin-top: 0.1in;
}
